# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock
build/
coverage/

# Android
android/.gradle/
android/app/build/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Linux
linux/flutter/

# Windows
windows/flutter/

# macOS
macos/Flutter/

# IDE
.idea/
.vscode/

# Misc
.DS_Store
*.log